<span class="user-amount">Number of players: {{signalRService.connectionAmount}}</span>
<span class="refresher">{{refresher}}</span>

<div class="play-area" (keydown)="onKeyDown($event)" [ngStyle]="
  {
    'width.px': constants.VIEW_AREA_SIZE * constants.POSITION_TO_DISPLAY_MULTIPLAYER,
    'height.px': constants.VIEW_AREA_SIZE * constants.POSITION_TO_DISPLAY_MULTIPLAYER
  }">
  <!-- Empty spaces -->
  <div *ngFor="let emptySpace of utilities.getCoordinatesInPlayersView(clientPlayer, signalRService.emptySpaces)">
    <div class="empty-space" [ngStyle]="
      {
        'margin-top.px': (utilities.getCoordinateDisplayPositionY(clientPlayer, emptySpace) + constants.VIEW_RADIUS) * constants.POSITION_TO_DISPLAY_MULTIPLAYER,
        'margin-left.px': (utilities.getCoordinateDisplayPositionX(clientPlayer, emptySpace) + constants.VIEW_RADIUS) * constants.POSITION_TO_DISPLAY_MULTIPLAYER,
        'width.px': constants.POSITION_TO_DISPLAY_MULTIPLAYER,
        'height.px': constants.POSITION_TO_DISPLAY_MULTIPLAYER
      }">
    </div>
  </div>
  <!-- Active player -->
  <div class="player" [ngStyle]="
  {
    'margin-top.px': constants.VIEW_RADIUS * constants.POSITION_TO_DISPLAY_MULTIPLAYER,
    'margin-left.px': constants.VIEW_RADIUS * constants.POSITION_TO_DISPLAY_MULTIPLAYER,
    'background': clientPlayer.hitPoints > 0 ? clientPlayer.playerColor : '#333',
    'border': '1px solid ' + clientPlayer.playerColor,
    'width.px': constants.POSITION_TO_DISPLAY_MULTIPLAYER - 5,
    'height.px': constants.POSITION_TO_DISPLAY_MULTIPLAYER - 5
  }">
    <span [ngStyle]="
      {
        'transform': 'rotate(' + clientPlayer.direction + 'deg)'
      }
    ">--></span>
    <span>{{clientPlayer.hitPoints}}hp</span>
  </div>
  <!-- Other players -->
  <div *ngFor="let player of utilities.getItemsInPlayersView(clientPlayer, signalRService.getOtherPlayers(clientPlayer.id))">
    <div class="player" [ngStyle]="
    {
      'margin-top.px': (utilities.getItemDisplayPositionY(clientPlayer, player) + constants.VIEW_RADIUS) * constants.POSITION_TO_DISPLAY_MULTIPLAYER,
      'margin-left.px': (utilities.getItemDisplayPositionX(clientPlayer, player) + constants.VIEW_RADIUS) * constants.POSITION_TO_DISPLAY_MULTIPLAYER,
      'background': player.hitPoints > 0 ? player.playerColor : '#333',
      'border': '1px solid ' + player.playerColor,
      'width.px': constants.POSITION_TO_DISPLAY_MULTIPLAYER - 5,
      'height.px': constants.POSITION_TO_DISPLAY_MULTIPLAYER - 5
    }">
      <span>{{player.hitPoints}}hp</span>
    </div>
  </div>
  <!-- Fireballs -->
  <div *ngFor="let fireball of utilities.getItemsInPlayersView(clientPlayer, signalRService.fireballs)">
    <div class="fireball" [ngStyle]="
      {
        'margin-top.px': (utilities.getItemDisplayPositionY(clientPlayer, fireball) + constants.VIEW_RADIUS) * constants.POSITION_TO_DISPLAY_MULTIPLAYER,
        'margin-left.px': (utilities.getItemDisplayPositionX(clientPlayer, fireball) + constants.VIEW_RADIUS) * constants.POSITION_TO_DISPLAY_MULTIPLAYER,
        'width.px': constants.POSITION_TO_DISPLAY_MULTIPLAYER,
        'height.px': constants.POSITION_TO_DISPLAY_MULTIPLAYER
      }">
    </div>
  </div>
  <!-- Obstacles -->
  <div *ngFor="let obstacle of utilities.getItemsInPlayersView(clientPlayer, signalRService.obstacles)">
    <div class="obstacle" [ngStyle]="
      {
        'margin-top.px': (utilities.getItemDisplayPositionY(clientPlayer, obstacle) + constants.VIEW_RADIUS) * constants.POSITION_TO_DISPLAY_MULTIPLAYER,
        'margin-left.px': (utilities.getItemDisplayPositionX(clientPlayer, obstacle) + constants.VIEW_RADIUS) * constants.POSITION_TO_DISPLAY_MULTIPLAYER,
        'width.px': constants.POSITION_TO_DISPLAY_MULTIPLAYER,
        'height.px': constants.POSITION_TO_DISPLAY_MULTIPLAYER
      }">
    </div>
  </div>
  <!-- Play area's border obstacles -->
  <div *ngFor="let obstacle of utilities.getItemsInPlayersView(clientPlayer, playAreaBorderObstacles)">
    <div class="obstacle border-obstacle" [ngStyle]="
      {
        'margin-top.px': (utilities.getItemDisplayPositionY(clientPlayer, obstacle) + constants.VIEW_RADIUS) * constants.POSITION_TO_DISPLAY_MULTIPLAYER,
        'margin-left.px': (utilities.getItemDisplayPositionX(clientPlayer, obstacle) + constants.VIEW_RADIUS) * constants.POSITION_TO_DISPLAY_MULTIPLAYER,
        'width.px': constants.POSITION_TO_DISPLAY_MULTIPLAYER,
        'height.px': constants.POSITION_TO_DISPLAY_MULTIPLAYER
      }">
      <span></span>
    </div>
  </div>
</div>
<div class="button-container" [ngStyle]="
  {
    'top.px': constants.VIEW_AREA_SIZE * constants.POSITION_TO_DISPLAY_MULTIPLAYER + 25,
    'width.px': constants.VIEW_AREA_SIZE * constants.POSITION_TO_DISPLAY_MULTIPLAYER - 10,
    'height.px': 100
  }">
  <div class="stat-indicators">
    <div>
      <span [ngStyle]="
      {
        'background-color': clientPlayer.playerColor
      }">Your hit points:
      </span><strong> {{clientPlayer.hitPoints}} <span *ngIf="clientPlayer.hitPoints <= 0">Knocked out!</span></strong>
    </div>
    <div>
      <span [ngStyle]="
      {
        'background-color': 'blue',
        'color': 'white'
      }">Your energy:
      </span><strong> {{manaAmount}}</strong>
      <div>
        <span class='mana-bar mana-bar-bottom' [ngStyle]="
        {
          'width.px': constants.PLAYER_STARTING_MANA * 1.5
        }"></span>
        <span class='mana-bar mana-bar-top' [ngStyle]="
        {
          'width.px': manaAmount * 1.5
        }"></span>
      </div>
    </div>
    <div class="float-right" [ngStyle]="
    {
      'width.px': constants.VIEW_AREA_SIZE * constants.POSITION_TO_DISPLAY_MULTIPLAYER - 10
    }">
      <span>Your score: </span><strong> {{clientPlayer.score}} / {{constants.SCORE_NEEDED_TO_WIN}}</strong>
    </div>
  </div>
</div>
<div class="server-control-button-container" [ngStyle]="
  {
    'top.px': constants.VIEW_AREA_SIZE * constants.POSITION_TO_DISPLAY_MULTIPLAYER + 130,
    'width.px': constants.VIEW_AREA_SIZE * constants.POSITION_TO_DISPLAY_MULTIPLAYER,
    'height.px': 30
  }">
  <button (click)="signalRService.broadcastGetObstacles(true)">Generate obstacles</button>
</div>
